// Colores
@use "layouts/variables";
// Header
@use "layouts/siteheader";
//Barra de Navegación 
@use "layouts/navbar";
//Pagina contacto Formulario 
@use "layouts/forms";
// Textos y parrafos
@use "layouts/textos";

body {
  font-family: 'Raleway', sans-serif;
}

// Contenido principal 
.main-content {
  width: 100%;
  height: 100%;  
  .main-img {
    width: 100%;
    height: 50%;  
    box-sizing: border-box;
    margin-top: 3px;
    border: 2px 0.1 variables.$color-primario;
    display: block;
  }
}

/*Pagina servicios*/
.servicio {
  display: flex;
  align-items: center;
  gap: 2rem;  
  margin-bottom: 3rem;

  img {
    display: block;
    width: 80%;
    height: 316px;      
    object-fit: cover;  
    border-radius: 20px;

    opacity: 0;
    transform: translateX(-100%);
    animation: slideIn 1s forwards ease-out;
    animation-delay: 0.3s;
  }
}

.servicio.reverse {
  flex-direction: row-reverse;
}

@keyframes slideIn {
  to {
    opacity: 1;
    transform: translateX(0);
  }
}

