/* Header */
.site-header {
  position: sticky;
  top: 0;
  background-color: white;
  padding: 10px;
  z-index: 1000;
}
.site-header h1 {
  margin: 0;
  display: flex;
  align-items: center;
  font-size: 20px;
  text-transform: uppercase;
  color: #31241e;/*colores usados en el wireframe*/
}
.site-header img {
  width: 60px;
  margin-right: 10px;
}

/* Barra de Navegación */
.navbar-nav {
    margin-left: auto;
}
.navbar-nav .nav-link {
  padding: 10px 15px;
  color:#86654b; /*colores usados en el wireframe*/
  text-decoration: none;
}
.navbar {
    border-bottom: 1px solid #31241e; /*colores usados en el wireframe*/
}

/* Contenido principal */
.main-content {
    width: 100%;
}

/* Imágenes */
.main-img {
    width: 100%;
    height: auto;
    margin-left: 10px;       
    margin-right: 40px;
    border: 2px solid #31241e;
    display: block;         
}

/* Subtítulos */
h2 {
    color:#1e1d1a;
    margin: 2rem;
    font-size: 20px;
    font-style: italic;
}
/*Pagina contactanos*/

/* Formulario */
.formulario {
  color: #d1c8c1;
  max-width: 600px;
  margin: 20px auto;
}

.section h3 {
  color: #1e1d1a;
  margin: 2rem;
  font-size: 20px;
  font-style: italic;
}

.section p {
  color: #1e1d1a;
  margin: 2rem;
  font-size: 20px;
  font-style: italic;
}

/*Pagina servicios*/
.servicio {
  display: flex;
  align-items: center;
  gap: 40px;
  margin-bottom: 60px;
}

.servicio.reverse {
  flex-direction: row-reverse;
}

.servicio img {
  width: 50%;
  border-radius: 8px;
}

.texto {
  width: 50%;
}

.texto h2 {
  font-size: 28px;
  margin-bottom: 5px;
}

.texto h3 {
  font-weight: normal;
  color: #5f5f5f;
  margin-top: 0;
}

.texto p {
  font-size: 16px;
  line-height: 1.5;
}