@use "variables";

.navbar {
  .container-fluid {
    padding-left: 0;
    padding-right: 0;

    .navbar-toggler {
      border: solid;
      color: variables.$color-barra;
    }

    .navbar-collapse {
      justify-content: flex-end;

      .navbar-nav {
        display: flex;
        gap: 1rem;

        .nav-item {
          .nav-link {
            color: variables.$color-barra;
            font-weight: normal;
            text-decoration: none;
            padding: 0.5rem 1rem;
            font-size: 1rem;

            &:hover {
              border-radius: 5px;
            }

            &.active {
              font-weight: bold;
              border-radius: 5px;
            }
          }
        }
      }
    }
  }
}
.nav-link {
  color: variables.$color-barra;
  font-style: bold;
}
