h2 {
    color:#1e1d1a;
    margin: 3rem;
    font-size: 2rem;
    margin-bottom: 5px;
}
.texto {
  width: 50%;
}

h3 {
  font-size: 1rem;
  font-weight: normal;
  color: #5f5f5f;
  margin-top: 0;
}

 p {
  font-size: 1rem;
  line-height: 1.5;
}

.uno {
  display: inline-block;
  margin: 0 0.5rem;

  animation: bounceInDown; 
  animation-duration: 1.5s; 
}
.uno p{
font-size: 2rem;
text-align: center;
}
